.menu {
  box-sizing: content-box;
  margin-right: 0px;
  margin-top: 40px;
  display:inline;
  float: left;
  width:5%;
}

.logo {
  box-sizing: content-box;
  margin-left: 0px;
}

.img_logo {
  height: 100px;
}

.tete {
  border-bottom: 1px solid grey;
  margin-bottom: 5%;
}

.article1 {
  border-bottom: 1px solid grey;
  text-align: center;
  margin-bottom: 5%;
}
.soleil {
  width: 50%;
}

.article2 {
  border-bottom: 1px solid grey;
  text-align: center;
  margin-bottom: 5%;
}
.lorem {
  width: 20%;
}
